---
import Aurora from "@components/backgrounds/Aurora.astro";
import Button from "@components/Button.astro";
import BackIcon from "@components/icons/BackIcon.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <div class="absolute top-0 left-0 w-full h-full z-0 bg-black">
    <Aurora />
  </div>
  <div
    class="relative flex flex-col items-center justify-center w-full h-full text-white z-10"
  >
    <h1 class="text-9xl">Aurora</h1>
    <Button class="mt-6" onclick="window.location='/'"><BackIcon /></Button>
  </div>
  <Aurora
    colorStops={["#DE3163", "#CCCCFF", "#FFBF00"]}
    amplitude={0.1}
    speed={3.0}
  />
  <Aurora />
  <Aurora
    colorStops={["#995533", "#DE3163", "#FFBF00"]}
    amplitude={1.0}
    speed={0.5}
  />
  <Aurora />
  <Aurora
    colorStops={["#DE3163", "#CCCCFF", "#FFBF00"]}
    amplitude={0.1}
    speed={3.0}
  />
</Layout>
