---
import TitleWithBackIcon from "@components/TitleWithBackIcon.astro";
import Layout from "@layouts/Layout.astro";

const title = "Simple Dots";
---

<Layout title={title}>
  <section class="dotted">
    <TitleWithBackIcon>{title}</TitleWithBackIcon>
    <article class="min-h-dvh">
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
        adipisci officiis ab molestiae, quam saepe dolores. Ad aperiam illum
        placeat dolorum itaque beatae eveniet labore quidem, cupiditate ex
        molestiae laudantium ab sapiente necessitatibus consequuntur ratione
        libero quo dignissimos totam porro expedita dolore!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odio
        voluptate fugiat, nihil repudiandae obcaecati enim id laudantium,
        accusamus quidem atque exercitationem quae sapiente. Atque, vitae quos
        iusto expedita doloremque at vel natus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos saepe
        perspiciatis nulla delectus? Odio voluptas necessitatibus dolore.
        Adipisci tempora et quos tempore. Iste amet eaque non ex incidunt.
        Veritatis laudantium quae accusamus, reiciendis placeat, magnam commodi
        veniam asperiores adipisci unde iusto deleniti.
      </p>
    </article>
  </section>
  <hr
    class="dark:border-amber-500 border-red-500 border-4 w-48 mx-auto rounded"
  />
  <section class="h-40 grid place-content-center">
    <h3 class="text-4xl text-pink-600">Lorem ipsum dolor sit amet.</h3>
  </section>
  <hr
    class="dark:border-amber-500 border-red-500 border-4 w-[90%] mx-auto rounded"
  />
  <section class="dotted inverted">
    <article>
      <h2>Lorem ipsum dolor sit amet.</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas
        adipisci officiis ab molestiae, quam saepe dolores. Ad aperiam illum
        placeat dolorum itaque beatae eveniet labore quidem, cupiditate ex
        molestiae laudantium ab sapiente necessitatibus consequuntur ratione
        libero quo dignissimos totam porro expedita dolore!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam odio
        voluptate fugiat, nihil repudiandae obcaecati enim id laudantium,
        accusamus quidem atque exercitationem quae sapiente. Atque, vitae quos
        iusto expedita doloremque at vel natus?
      </p>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos saepe
        perspiciatis nulla delectus? Odio voluptas necessitatibus dolore.
        Adipisci tempora et quos tempore. Iste amet eaque non ex incidunt.
        Veritatis laudantium quae accusamus, reiciendis placeat, magnam commodi
        veniam asperiores adipisci unde iusto deleniti.
      </p>
    </article>
  </section>

  <style>
    @reference "../../styles/global.css";

    article {
      @apply mx-auto prose dark:prose-invert prose-slate;
    }

    h2 {
      @apply text-4xl;
    }

    .dotted {
      @apply p-2;
      --accent-transparent: #cda0245f;
      --dot-size: 1px;
      --gap-size: 20px;
      --offset: calc(var(--gap-size) / 2);
      --dotted-bg-start: var(--color-gray-900);
      --dotted-bg-transition: transparent;
      --dotted-bg-end: var(--color-gray-900);

      background-color: transparent;
      background-image: linear-gradient(
          var(--dotted-bg-start) 0%,
          var(--dotted-bg-transition) 50%,
          var(--dotted-bg-end) 100%
        ),
        radial-gradient(
          var(--accent-transparent) var(--dot-size),
          transparent var(--dot-size)
        ),
        radial-gradient(
          var(--accent-transparent) var(--dot-size),
          transparent var(--dot-size)
        );
      background-position:
        0px 0px,
        0px 0px,
        var(--offset) var(--offset);
      background-size:
        100% 100%,
        var(--gap-size) var(--gap-size),
        var(--gap-size) var(--gap-size);

      background-color: var(--color-gray-900);
    }

    .dotted.inverted {
      --dotted-bg-start: transparent;
      --dotted-bg-end: var(--color-gray-900);
    }
  </style>
</Layout>
