---
// const { class }  = Astro.props;

const { class: className = "" } = Astro.props;
const { colors = ["#40ffaa", "#4079ff"] } = Astro.props;
const { animationSpeed = 9 } = Astro.props;
const { showBorder = true } = Astro.props;

const gradientStyle = {
  backgroundImage: `linear-gradient(90deg, ${colors.join(", ")})`,
  animationDuration: `${animationSpeed}s`,
};
---

<astro-gradient-text>
  <div
    class={`relative mx-auto flex max-w-fit flex-row items-center 
    justify-center rounded-[1.25rem] font-medium backdrop-blur transition-shadow duration-500 overflow-hidden cursor-pointer ${className}`}
  >
    {
      showBorder && (
        <div
          class="absolute inset-0 bg-cover z-0 pointer-events-none animate-gradient"
          style={{
            ...gradientStyle,
            backgroundSize: "300% 100%",
          }}
        >
          <div
            class="absolute inset-0 bg-black rounded-[1.25rem] z-[-1]"
            style={{
              width: "calc(100% - 3px)",
              height: "calc(100% - 3px)",
              left: "50%",
              top: "50%",
              transform: "translate(-50%, -50%)",
            }}
          />
        </div>
      )
    }
    <div
      class="inline-block relative z-2 text-transparent bg-cover animate-gradient"
      style={{
        ...gradientStyle,
        backgroundClip: "text",
        WebkitBackgroundClip: "text",
        backgroundSize: "300% 100%",
      }}
    >
      <slot />
    </div>
  </div>
</astro-gradient-text>

<script>
  class AstroGradientText extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.animateGradient();
    }
  }

  // Tell the browser to use our AstroAurora class for <astro-aurora> elements.
  customElements.define("astro-gradient-text", AstroGradientText);
</script>

<style>
  .animate-gradient {
    background-size: 300% 100%;
    animation: gradient 8s linear infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
</style>
