---
import LayoutExample from "@layouts/LayoutExample.astro";
import Spline from "@components/spline/Spline.astro";

console.log(Astro);
---

<!-- <head>
  <link
    rel="preload"
    href="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
    as="fetch"
  />
</head> -->
<LayoutExample title="UFO without Spline Viewer">
  <div class="w-full h-full absolute top-0 left-0 bg-black">
    <Spline
      url="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
    />
  </div>

  <div slot="description" class="min-h-[70vh] relative">
    <h2 class="text-5xl mb-2">UFO</h2>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde
      reprehenderit beatae, exercitationem inventore dolore mollitia ex
      possimus, necessitatibus culpa dignissimos cumque voluptate accusantium,
      fugit veniam. Vero commodi eius, amet et reprehenderit sit laudantium
      nostrum, aliquid sapiente autem quibusdam totam quis quisquam libero modi
      rerum praesentium magnam inventore quidem illo soluta repudiandae nemo
      earum tempore. Quasi, ducimus ad. Voluptatibus, enim? Inventore ad animi
      labore id temporibus doloremque officia est itaque totam asperiores
      doloribus voluptate, magni accusantium commodi aliquid eum provident
      deleniti suscipit sed omnis, quod ipsa iusto soluta cupiditate? Suscipit
      quasi reprehenderit nisi voluptas fugit voluptatibus necessitatibus esse
      quae sequi neque.
    </p>

    <div
      class="w-96 aspect-video border-2 border-black rounded-3xl overflow-auto mx-auto mt-4"
    >
      <Spline
        url="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
      />
    </div>
  </div>
</LayoutExample>
