---
import LayoutExample from "@layouts/LayoutExample.astro";
import Spline from "@components/spline/Spline.astro";

console.log(Astro);
---

<!-- <head>
  <link
    rel="preload"
    href="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
    as="fetch"
  />
</head> -->
<LayoutExample title="UFO without Spline Viewer">
  <div class="w-full h-full absolute top-0 left-0 bg-black">
    <Spline
      url="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
    />
  </div>
  <div
    class="w-96 h-96 top-[50%] left-[50%] border-2 border-black absolute -translate-[50%] rounded-3xl overflow-auto"
  >
    <Spline
      url="https://prod.spline.design/o5PMLvubs58PCf8F/scene.splinecode"
    />
  </div>
</LayoutExample>
