---
import Polylines from "@components/ogl/Polylines.astro";
import LayoutExample from "@layouts/LayoutExample.astro";
---

<LayoutExample title="0006 - Polylines">
  <!-- colors={["#8DA1B9", "#95ADB6", "#CBB3BF", "#DBC7BE", "#EF959C"]} -->
  <!-- colors={["#C5D86D", "#2DE1FC", "#E91494", "#B2ABF2", "#2FE6DE"]} -->
  <!-- colors={["#B2ABF2", "#2FE6DE"]} -->

  <div class="absolute top-0 left-0 w-full h-full z-0 bg-cyan-900">
    <Polylines
      colors={[
        "#DB3A2A",
        "#DB843F",
        "#DBD02B",
        "#7FDB56",
        "#379EDB",
        "#B366DB",
        "#6C5CFA",
      ]}
    />
  </div>
</LayoutExample>
