---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <nav class="p-4">
    <h2>Backgrounds</h2>
    <ul>
      <li>
        <a href="/backgrounds/aurora">aurora</a>
      </li>
      <li>
        <a href="/backgrounds/grid-motion">grid-motion</a>
      </li>
      <li>
        <a href="/backgrounds/particles">particles</a>
      </li>
      <li>
        <a href="/backgrounds/particles-2">particles II</a>
      </li>
    </ul>
    <h2>Animations</h2>
    <ul>
      <li>
        <a href="/animations/splash-cursor">splash-cursor</a>
      </li>
    </ul>
    <h2>Text Animations</h2>
    <ul>
      <li>
        <a href="/text-animations/gradient-text">gradient-text</a>
      </li>
    </ul>
    <h2>Components</h2>
    <ul>
      <li>
        <a href="/components/ogl-gallery">Ogl Gallery</a>
      </li>
    </ul>
    <h2>
      Ogl <a href="https://github.com/oframe/ogl" target="_blank">➡</a>
    </h2>
    <ul>
      <li>
        <a href="/glsl/0001">0001</a>
      </li>
      <li>
        <a href="/glsl/0002">0002</a>
      </li>
      <li>
        <a href="/glsl/0003">0003</a>
      </li>
      <li>
        <a href="/glsl/0004">0004</a>
      </li>
    </ul>
    <h2>Spline <a href="https://spline.design/" target="_blank">➡</a></h2>
    <ul>
      <li>
        <a href="/spline/ufo-splinetool-viewer"
          >ufo using stock @splinetool/viewer</a
        >
        <small>
          <a
            href="https://www.npmjs.com/package/@splinetool/viewer"
            target="_blank"
          >
            @splinetool/viewer
          </a>
        </small>
      </li>
      <li>
        <a href="/spline/ufo-custom-viewer">ufo using custom spline-viewer</a>
        <small>
          <a
            href="https://www.npmjs.com/package/@splinetool/viewer"
            target="_blank"
          >
            @splinetool/runtime
          </a> and Spline.astro
        </small>
      </li>
    </ul>
  </nav>
</Layout>

<style>
  @import "tailwindcss";

  h2 {
    @apply text-xl md:text-2xl max-w-full text-ellipsis overflow-hidden mt-7 text-pink-500;
  }

  ul {
    @apply mt-2;
  }

  li {
    @apply text-lg md:text-xl;
  }

  li:hover {
    @apply text-pink-500;
  }

  a {
    transition: all 0.3s;
  }

  a:hover {
    @apply decoration-4;
  }
</style>
