---
import Layout from "../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <nav class="p-4">
    <h2>Backgrounds</h2>
    <ul>
      <li>
        <a href="/backgrounds/aurora">aurora</a>
      </li>
      <li>
        <a href="/backgrounds/grid-motion">grid-motion</a>
      </li>
      <li>
        <a href="/backgrounds/particles">particles</a>
      </li>
      <li>
        <a href="/backgrounds/particles-2">particles II</a>
      </li>
    </ul>
    <h2>Animations</h2>
    <ul>
      <li>
        <a href="/animations/splash-cursor">splash-cursor</a>
      </li>
    </ul>
    <h2>Text Animations</h2>
    <ul>
      <li>
        <a href="/text-animations/gradient-text">gradient-text</a>
      </li>
    </ul>
    <h2>Components</h2>
    <ul>
      <li>
        <a href="/components/ogl-gallery">Ogl Gallery</a>
      </li>
    </ul>
    <h2>Ogl</h2>
    <ul>
      <li>
        <a href="/glsl/0001">0001</a>
      </li>
      <li>
        <a href="/glsl/0002">0002</a>
      </li>
      <li>
        <a href="/glsl/0003">0003</a>
      </li>
      <li>
        <a href="/glsl/0004">0004</a>
      </li>
    </ul>
  </nav>
</Layout>

<style>
  h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
</style>
