---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <slot name="header" />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <slot name="footer" />
    </footer>
  </body>
</html>

<style>
  @reference "../styles/global.css";

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  main {
    min-height: calc(100dvh - 4rem);
  }

  footer {
    @apply p-4 flex justify-end items-center;
  }
</style>
